html,body{
    width: 100%;
    height: 100%;
}
header {
    height: 10%;
    background-color: brown;
}
main {
    position: relative;
    min-height: 80%;
}
footer {
    height: 10%;
    background-color: chartreuse;
    position: relative;
    top: 20px;
}

#container {
    position: relative;
    min-height: 80%;
    padding: 0;
}
#container2 {
    padding: 0px;
    position: absolute;
}
#container2 .tail2 {
    
}
.tail, .tail2 {
    height: 15vh;
    outline: 1px solid black;
    /*border-radius: 50%;*/
}

.tail:nth-child(16){
    
}

/*#tail, #tail2{
    background-color: green;
}
*/

/*.tail:nth-child(1),.tail:nth-child(8){
    background-color: black;
}
.tail:nth-child(4),.tail:nth-child(12){
    background-color: yellow;
}
.tail:nth-child(2),.tail:nth-child(10){
    background-color: red;
}
.tail:nth-child(3),.tail:nth-child(5){
    background-color: green;
}
.tail:nth-child(13),.tail:nth-child(16){
    background-color: orange;
}
.tail:nth-child(6),.tail:nth-child(15){
    background-color: blue;
}
.tail:nth-child(9),.tail:nth-child(14){
    background-color: pink;
}
.tail:nth-child(7),.tail:nth-child(11){
    background-color: brown;
}
*/
/*.tail2:hover {
    opacity: 0.3;
}*/


.tail{
    opacity: 0;
}
.selected{
    opacity: 1;
}

#container2{
    position: absolute;
    top: 10%;
}
.tail2{
    border: 1px solid white;
    background-image: url(128-199.jpg);
    
}

.tail2{
    position: relative;
    opacity: 1;
}
/*.tail2:hover{
    opacity: 1;
}*/

.disabled{
    pointer-events: none;
}

#restart{
    position: absolute;
    top: 30%;
    left: 0px;
    height: 100px;
    display: none;
}